body {
  background-image: url("https://t4.ftcdn.net/jpg/08/19/45/33/360_F_819453336_skcOcKukiuWYWoC5GPHwVXhxkvNtcutZ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0d8eb6;
  font-family: merienda;
  text-align: center;
}
.container {
  max-width: 80%;
  background: rgb(249, 252, 248);
  padding: 30px;
  margin: 60px auto;
  box-shadow: 12px 12px 2px 1px rgba(21, 21, 22, 0.2);
  border-radius: 10px;
  opacity: 0.9;
}
.board {
  padding: 30px;
  margin: 0 auto;
  background: rgb(209, 214, 208);
  box-shadow: 12px 12px 2px 1px rgba(21, 21, 22, 0.2);
  border-radius: 10px;
  opacity: 0.9;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: merienda;
  font-size: 25px;
  color: rgb(32, 3, 99);
}
a {
  text-decoration: none;
  color: rgb(32, 3, 99);
  font-weight: 300;
}
a:visited {
  color: rgb(32, 3, 99);
  text-decoration: none;
}
img {
  display: block;
  margin: 0 auto;
  padding: 30px;
}
h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(4, 31, 4);
  margin: 0 auto;
  padding: 20px;
  font-family: merienda;
}
h2 {
  text-align: center;

  color: rgb(70, 27, 2);
  font-size: 35px;
  margin: 0 auto;
}
h3 {
  text-align: center;

  color: #ff0080;
  font-size: 45px;
  margin: 0 auto;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  padding: 10px;
  font-size: 25px;
  background-color: #eef3f5;
  color: #012e04;
}
footer {
  text-align: center;
  font-size: 20px;
  color: rgba(8, 8, 8, 0.5);
  font-family: merienda cursive;
}
